".source.js.jsx":
  "React: componentDidMount() { ... } (ES6)":
    prefix: "cdm6"
    body: "componentDidMount() {\n\t${1}\n}"

  "React: componentDidUpdate(pp, ps) { ... } (ES6)":
    prefix: "cdup6"
    body: "componentDidUpdate(prevProps, prevState) {\n\t${1}\n}"

  "React: componentWillMount() { ... } (ES6)":
    prefix: "cwm6"
    body: "componentWillMount() {\n\t${1}\n}"

  "React: componentWillReceiveProps(np) { ... } (ES6)":
    prefix: "cwr6"
    body: "componentWillReceiveProps(nextProps) {\n\t${1}\n}"

  "React: componentWillUnmount() { ... } (ES6)":
    prefix: "cwun6"
    body: "componentWillUnmount() {\n\t${1}\n}"

  "React: componentWillUpdate(np, ns) { ... } (ES6)":
    prefix: "cwu6"
    body: "componentWillUpdate(nextProps, nextState) {\n\t${1}\n}"

  "React: shouldComponentUpdate(np, ns) { ... } (ES6)":
    prefix: "scu6"
    body: "shouldComponentUpdate(nextProps, nextState) {\n\t${1}\n}"

  "React: state = { ... } (ES6)":
    prefix: "state"
    body: "this.state.${1}"

  "React: static defaultProps = { ... }  (ES6)":
    prefix: "dp"
    body: "static defaultProps = {\n\t${1}\n};"

  "React: static propTypes = { ... } (ES6)":
    prefix: "pt6"
    body: "static propTypes = {\n\t${1}: React.PropTypes.${2:string}\n};"

  "React: class skeleton (ES6)":
    prefix: "rcd"
    body: "import React, {PropTypes} from 'react';\n\nclass $1 extends React.Component {\n\trender() {\n\t\treturn <div />;\n\t}\n}\n\nexport default ${1};"

  "React: component skeleton (ES6)":
    prefix: "rcc6"
    body: "import React, {PropTypes} from 'react';\n\nconst $1 = React.createClass({\n\trender() {\n\t\treturn (\n\t\n\t\t)\n\t}\n})\n\nexport default ${1}\n"

  "React: stateless component (ES6)":
    prefix: "rcs"
    body: "import React, {PropTypes} from 'react';\n\nconst $1 = (${2:props}) => {\n\treturn (\n\t\t${3:<div />}\n\t)\n}\n\nexport default ${1}\n"

  "React: stateless component with props (ES6)":
    prefix: "rcsp"
    body: "import React, {PropTypes} from 'react';\n\nconst propTypes = {\n}\n\nconst $1 = (${2:props}) => {\n\treturn (\n\t\t${3:<div />}\n\t)\n}\n\n${1}.propTypes = propTypes;\n\nexport default ${1}\n"

  "React: render() { return ... } (ES6)":
    prefix: "ren6"
    body: "render() {\n\treturn (\n\t\t${1:<div />}\n\t);\n}"
